/**
 * Style sheet used in the view part.
 */


#pttr-show-list {
  bottom: 0;
  cursor: pointer;
  padding 0 10px;
}

#pttr-show-list:hover {
  background-color: #eee;
}


#pttr-list {
  background-color: #000;
  border-color: #eee;
  border-style: double;
  bottom: 10%;
  left: 10%;
  overflow-x: auto;
  padding: 0.5em;
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 99;
}

.pttr-list-show {
}

.pttr-list-hide {
  display: none;
}


#pttr-list > .title {
  color: #eee;
  margin: 10px 0;
}


#pttr-list > .list > a {
  display: block;
  margin-bottom: 10px;
}
